<h1>Balance Info</h1>
<div class = "col-md-12">
	<div class = "row col-md-9" style = "background-color: black; margin-left: 1px;">
		<div class ="aw">
			<iframe src="https://calendar.google.com/calendar/embed?src=paninoy%40gmail.com&ctz=Asia/Manila" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
	<div class = "col-md-1" style = "background-color: width: 100px;"></div>
	<div class = "row col-md-2" style = "background-color: blue; margin-left: 5px;">
		Announcement
	</div>
</div>