<h1>Create Announcement</h1>

<form>
	<table>
		<tr>
			<td>
				Title
			</td>
			<td>
				&emsp;<input type="text" /><br/>
			</td>
		</tr>

		<tr>
			<td></td>
			<td>&emsp;</td>
		</tr>

		<tr>
			<td>
				Content
			</td>
			<td>
				&emsp;<textarea></textarea>
			</td>
		</tr>

		<tr>
			<td></td>
			<td>&emsp;</td>
		</tr>

		<tr>
			<td>

			</td>
			<td>
				&emsp;<input type = "submit" value = "Create Announcement"/>
			</td>
		</tr>
	</table>
</form>