	<%= render "navbar" %>
	<h1>ABOUT</h1>
	eBiz is a web based Eloading system built to assist retailers on their transactions. Delayed load,  <br />

<%= link_to 'Back', '/index.html' %>
<%= render "footer" %>
