<%= render "navbar" %>
<br/>
<div class = "container-fluid col-md-12" style = "margin-top: 10%;">
	<div class = "row col-md-7">
		<%= render "carousel" %>
	</div>

	<div class = "row col-md-4">
		<%= 'Hello, World!' %>
	</div>
	

	<br/>
</div>

