<div class = "container" align="center">
<table class = "table table-bordered">
<tr>
<td><h1>Postpaid</h1><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></td>

<td><h1>Prepaid</h1><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></td>

<td><h1>Broadband</h1><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></td>

<td><h1>Online Games</h1><%= link_to image_tag("insert picture name", :alt => "Prepaid Products"), {:class => "first-slide", :alt => "Responsive image"}, size: "1140x300"%></td>

</tr>
</table>
</div>